body {
    width: 1280px;
    margin: auto;
}
.left-menu-link {
    font-size: 26px;
    color: #aab1b6;
    text-decoration: none;
}

.left-menu-link:hover {
    font-size: 30px;
    color: #aab1b6;
    background-color: #222f3a;
    padding: 36px 110px 36px;
}

.left-menu-item {
    margin-top: 31px;
}

.top {
    font-size: 80px;
    text-align: left;
    padding-top: 61px;
    padding-bottom: 45px;
    font-family: AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
}
.colortext {
    color: #4bcaff;
}

.header-logo    {
    text-decoration: none;
    color: black;
}

.navbar {
    background-color: #35444f;
    padding: 26px 41px;
}

.navbar-nav {
    text-align: center;
}

.navbar-nav-item {
    display: inline-block;
    margin-right: 30px;
}

.navbar-nav-link {
    text-decoration: none;
    font-size: 24px;
    color: #ffffff;
    font-family: AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
    transition: 0.1s;
    padding-top: 50px;
}

.navbar-nav-link:hover {
    color: #ffffff;
    background-color: #222f3a;
    padding: 26px 41px;
}

.main-content {
    margin-top: 51px;
}

.space {
    padding: 30px 112px 30px 42px;
    border: 1px solid #485863;
    width: 180px;
    display: inline-block;
    margin-right: 52px;
    height: 399px;
    vertical-align: top;
}

.picture {
    width: 874px;
    height: 600px;
    border: 1px solid #485863;
    background-image: url("../images/logo.png");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
}

.text {
    text-align: left;
    width: 819px;
    margin-left: 390px;
    padding: 50px 40px 50px 30px;
    font-size: 18px;
    font-family: AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
}

p {
    margin-top: 1em;
}

.botton-navbar {
    background-color: #b4b7ba;
    padding: 26px 41px;
}
.botton-navbar-nav {
padding-left: 44px;
}

.botton-navbar-nav-link {
    text-decoration: none;
    font-size: 22px;
    color: #0c1927;
    font-family: AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
}

.botton-navbar-nav-link:hover {
    color: #3181a6;
    text-decoration: underline;
}

.botton-navbar-nav-link-copiright {
    margin-left: 176px;
    text-decoration: none;
    font-size: 22px;
    color: #0c1927;
    font-family: AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
}


